:root {
    --color-content: linear-gradient(to bottom, #fff, #fff, #fff, #d1d1d1);
    --color-nav-button: #909090;
    --color-boost: rgb(139, 14, 189);
    --color-dislike: rgb(221, 71, 71);
    --color-superlike: rgb(0, 174, 255);
    --color-like: rgb(105, 224, 115);
    --color-return: rgb(247, 216, 45);
    --color-bars: #fff;
    --color-active-button: rgb(255, 0, 85);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/*                  LOGIN PAGE                   */

#login_page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    caret-color: transparent;
}

#login_page form {
    display: flex;
    flex-direction: column;
}

#login_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login_wrapper input, #login_wrapper a, #login_wrapper label {
    margin-top: .7em;
    font-size: 1.2em;
}

#login_wrapper a {
    margin-top: 1.2em;
}

#login_wrapper label {
    font-size: 1.3em;
    color: var(--color-active-button);
}

#login_wrapper input {
    border-radius: 2em;
    padding: .3em 0 .3em .7em;
    caret-color: var(--color-active-button);
}

#login_button {
    border: 1px solid black;
    padding: .2em 1em .2em 1em;
    border-radius: .3em;
}

#subscribe_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#subscribe_wrapper span{
    margin-top: .5em;
}

/*                  PAGES                   */

.page {
    width: 100vw;
    height: 84vh;
    /* background: red; */
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

nav {
    height: 8vh;
    width: 100vw;
    background: var(--color-bars);
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
}

.button_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a i {
    font-size: 1.5em;
    color: var(--color-nav-button);
}

.home {
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

.logo {
    flex: 6;
    /* background: darkblue; */
}

.config {
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

.content {
    width: 100vw;
    background: var(--color-content);
}

footer {
    height: 8vh;
    width: 100vw;
    background: var(--color-bars);
    display: flex;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    /* box-shadow: 0 0 3em var(--color-bars); */
}

footer i {
    font-size: 1.5em;
}

.button_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33333%;
    height: 100%;
    color: var(--color-nav-button);
    font-size: 1.2em;
    /* background: palegreen; */
    /* box-shadow: inset 0 0 0 .2em black; */
}

.active_button {
    color: var(--color-active-button);
}

/*               OPTIONS PAGE                  */

.opt_page {
    margin-top: 8vh;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
    /* background: red; */
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background: red; */
    width: 40%;
    height: 40%;
    font-size: 2em;
}

.button_opt {
    /* background: orange; */
    border-radius: 50%;
    height: .3em;
    width: .3em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.close_profile {
    font-size: 1.5em;
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

#title {
    font-size: 1.5em;
    /* font-family: ; */
    flex: 6;
    /* background: darkblue; */
}

#config_fill {
    flex: 2;
    height: 100%;
}

/*                      MAIN PAGE                     */

#main_content {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: blue; */
    overflow: scroll;
    overflow-x: hidden;
    caret-color: transparent;
}

#titulo_main {
    /* background: red; */
    width: 90%;
    margin-top: 1em;
}

#titulo_main h1 {
    margin: 0;
}

#main_content button {
    padding: .5em .8em .5em .8em;
    font-size: 1.1em;
    border-radius: .4em;
    border: 0;
    background: var(--color-active-button);
    color: white;
}

#filters {
    width: 96%;
    /* background: red; */
    background: rgba(255, 166, 0, 0.15);
    padding-bottom: 1em;
    border-radius: .5em;
    margin-top: 2vh;
}

.filters_input_wrapper {
    width: 94%;
    display: flex;
    flex-direction: column;
    /* background: green; */
}

#filters form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#filters form label {
    margin-top: 1em;
    font-size: 1.1em;
}

#filters form input, #filters form select {
    padding: .5em 0 .5em 1em;
    border-radius: .4em;
    border: 1px solid black;
    margin-top: 1em;
    font-size: 1em;
}

#filters button {
    width: 94%;
    margin-top: 1.5em;
}

#filters button i {
    margin-right: .2em;
}

#job_offers {
    width: 96%;
    /* background: red; */
    padding-bottom: 1em;
}

.job {
    /* background: orange; */
    margin: 1em 0 1em 0;
    border-radius: .5em;
    border: 1px solid black;
    padding: 1.5em;
    padding-top: 0;
}

#info_pesquisa {
    width: 95%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#info_pesquisa p {
    margin: 0;
}

#info_pesquisa_vagas {
    font-size: 1.3em;
}

#info_pesquisa_anuncios {
    font-size: 1.1em;
}

#ad_fifa {
    margin-bottom: 2em;
}

/*                      JOBBER                        */

#jobber_page {
    width: 100vw;
    height: 84vh;
    background: #fff;
    caret-color: transparent;
    padding-top: 8vh;
}

#jobber_content {
    height: 100%;
    width: 100vw;
    background: var(--color-content);
    display: flex;
    align-items: center;
    justify-content: center;
}

#obj {
    width: 95%;
    height: 98%;
    border-radius: 1em;
    background: rgb(51, 51, 51);
    border: 1px solid black;
    color: white;
}

#buttons {
    width: 60vw;
    height: 4em;
    /* background: purple; */
    position: fixed;
    bottom: 8%;
    left: 0;
    margin: 0 0 3% 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_choices {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    border-radius: 5em;
}

/* .button_choices:hover {
    filter: drop-shadow(0 0 20px red);
} */

#boost, #superlike, #return {
    font-size: 1.5em;
    aspect-ratio: 1;
    height: 70%;
}

#dislike, #like {
    font-size: 1.5em;
    aspect-ratio: 1;
    height: 90%;
}

#boost {
    color: var(--color-boost);
    border: 2px solid var(--color-boost);
    font-size: 1.3em;
    opacity: 0;
    pointer-events: none;
}

#boost:active {
    filter: drop-shadow(0 0 2px var(--color-boost));
}

#boost:hover {
    background: var(--color-boost);
    color: #fff;
}

#superlike {
    color: var(--color-superlike);
    border: 2px solid var(--color-superlike);
}

#superlike:active {
    filter: drop-shadow(0 0 2px var(--color-superlike));
}

#superlike:hover {
    background: var(--color-superlike);
    color: #fff;
}

#return {
    color: var(--color-return);
    border: 2px solid var(--color-return);
    opacity: 0;
    pointer-events: none;
}

#return:active {
    filter: drop-shadow(0 0 2px var(--color-return));
}

#return:hover {
    background: var(--color-return);
    color: #fff;
}

#dislike {
    color: var(--color-dislike);
    border: 2px solid var(--color-dislike);
    font-size: 2em;
}

#dislike:active {
    filter: drop-shadow(0 0 2px var(--color-dislike));
}

#dislike:hover {
    background: var(--color-dislike);
    color: #fff;
}

#like {
    color: var(--color-like);
    border: 2px solid var(--color-like);
}

#like:active {
    filter: drop-shadow(0 0 2px var(--color-like));
}

#like:hover {
    background: var(--color-like);
    color: #fff;
}

/*                      CHATS                    */

.chat_preview {
    height: 14vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* background: red; */
}

.chat_preview_wrapper {
    flex: 7;
    height: 100%;
    display: flex;
    align-items: center;
    /* background: orange; */
}

.open_chat_icon_wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_pessoa {
    display: flex;
    overflow: hidden;
    margin-left: 2em;
}

.img_pessoa {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.titulo_msg {
    margin-left: 2em;
    width: 50%;
}

.open_chat_icon {
    font-size: 1.5em;
}