:root {
    --color-content: linear-gradient(to bottom, #fff, #fff, #fff, #909090);
    --color-nav-button: #909090;
    --color-boost: rgb(139, 14, 189);
    --color-dislike: rgb(221, 71, 71);
    --color-superlike: rgb(0, 174, 255);
    --color-like: rgb(105, 224, 115);
    --color-return: rgb(247, 216, 45);
    --color-bars: #fff;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#page {
    width: 100vw;
    height: 100vh;
    background: #fff;
}

nav {
    height: 8%;
    width: 100vw;
    background: var(--color-bars);
    display: flex;
}

.button_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a i {
    font-size: 1.5em;
    color: var(--color-nav-button);
}

#profile {
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

#logo {
    flex: 6;
    /* background: darkblue; */
}

#config {
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

#content {
    height: 84%;
    width: 100vw;
    background: var(--color-content);
    display: flex;
    align-items: center;
    justify-content: center;
}

#obj {
    width: 95%;
    height: 98%;
    border-radius: 1em;
    background: rgb(51, 51, 51);
    border: 1px solid black;
}

#buttons {
    width: 86vw;
    height: 4em;
    /* background: purple; */
    position: absolute;
    bottom: 8%;
    left: 0;
    margin: 0 0 1.5em 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_choices {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    border-radius: 5em;
}

/* .button_choices:hover {
    filter: drop-shadow(0 0 20px red);
} */

#boost, #superlike, #return {
    font-size: 1.5em;
    aspect-ratio: 1;
    height: 70%;
}

#dislike, #like {
    font-size: 1.5em;
    aspect-ratio: 1;
    height: 90%;
}

#boost {
    color: var(--color-boost);
    border: 2px solid var(--color-boost);
    font-size: 1.3em;
    opacity: 0;
    pointer-events: none;
}

#boost:active {
    filter: drop-shadow(0 0 2px var(--color-boost));
}

#boost:hover {
    background: var(--color-boost);
    color: #fff;
}

#superlike {
    color: var(--color-superlike);
    border: 2px solid var(--color-superlike);
}

#superlike:active {
    filter: drop-shadow(0 0 2px var(--color-superlike));
}

#superlike:hover {
    background: var(--color-superlike);
    color: #fff;
}

#return {
    color: var(--color-return);
    border: 2px solid var(--color-return);
    opacity: 0;
    pointer-events: none;
}

#return:active {
    filter: drop-shadow(0 0 2px var(--color-return));
}

#return:hover {
    background: var(--color-return);
    color: #fff;
}

#dislike {
    color: var(--color-dislike);
    border: 2px solid var(--color-dislike);
    font-size: 2em;
}

#dislike:active {
    filter: drop-shadow(0 0 2px var(--color-dislike));
}

#dislike:hover {
    background: var(--color-dislike);
    color: #fff;
}

#like {
    color: var(--color-like);
    border: 2px solid var(--color-like);
}

#like:active {
    filter: drop-shadow(0 0 2px var(--color-like));
}

#like:hover {
    background: var(--color-like);
    color: #fff;
}

footer {
    height: 8%;
    width: 100vw;
    background: var(--color-bars);
    display: flex;
    /* box-shadow: 0 0 3em var(--color-bars); */
}

footer i {
    font-size: 1.5em;
}

.button_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33333%;
    height: 100%;
    color: var(--color-nav-button);
    font-size: 1.2em;
    /* background: palegreen; */
    /* box-shadow: inset 0 0 0 .2em black; */
}

.active_button {
    color: rgb(255, 0, 85);
}

/*                    PROFILE PAGE                  */

#close_profile {
    font-size: 1.5em;
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

#title {
    font-size: 1.5em;
    /* font-family: ; */
    flex: 6;
    /* background: darkblue; */
}

#config_fill {
    flex: 2;
    height: 100%;
}

/*                      CONFIG PAGE                   */

